.MyProfile {
	background-color: skyblue;
}

.introduce {
	background-color: white;
	margin: 50px;
}

.five {
	width: 50px;
}

.link {
	padding: 50px;
}

.inputService {
	background-image: url("SMU.png");
}

.Myinput {
	width: 500px;
	background-color: white;
	opacity: .9;
}

.loginForm {
	background-color: violet;
	opacity: .9;
	width: 300px;
	padding: 10px;
}