<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

{% load static %}
    
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">최현민의 포트폴리오</h1>
          <p class="lead text-muted">상명대학교 컴퓨터과학과 19학번 최현민의 포트폴리오 사이트 입니다.</p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="{% static 'youtube.png' %}" alt="">
                <div class="card-body">
                  <p class="card-text">작품설명</p>
                </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </main>